.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1a087d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.timer {
  margin: auto;
  text-align: center;
}

.time {
  font-size: 75px;
}

.timerButton {
  font-size: 30px;
}

.header {
  font-size: 30px;
  text-align: center;
  padding-right: 30px;
}

.navBar {
  padding: 10px;
}