.navbar {
    background-color: #8ad4d1;
    padding: 0px;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    margin-left: 20px;
}

#brand {
    font-size: 30px;
}

.nav-link {
    text-align: center;
}

#point-counter {
    color: black;
    font-size: 16px;
    margin-right: 20px;
}